
.theme-container.custom-page-class {
    .imgb {
        display: block;
        margin-bottom: 5rem;
        border-bottom: solid 1px #e8e8e8;
        padding-bottom: 1rem;
    }
    .imgb img {
        display: block;
        border-radius: 1%
        box-shadow: 1px 1px 20px #888888;
        width: 100%;
        max-width: 100%;
        height: auto;
        border: 0 none;
    }

}